<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Finder</ion-title>
    <ion-buttons end>                                                                                                                                                                                   
 <button ion-button icon-only (click)="showSearch()">                                                                                                               
          <ion-icon ios="ios-search" md="md-search"></ion-icon>                                                                                                                                           
        </button>                                                                                                                                                                                         
        <!--<button ion-button icon-only (click)="presentFilter()">                                                                                                                                           
          <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>                                                                                                                                 
        </button>-->
      </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">  
  <ion-toolbar no-border-top *ngIf="search">    
    <ion-buttons end><button ion-button button-left clear (click)="showSearch()">Hide</button></ion-buttons>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   [showCancelButton]="true"
                   (ionInput)="searchUser()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
  <div *ngIf="speakers.length == 0">You haven't searched for anyone yet.</div>
  <ion-card *ngFor="let speaker of speakers" class="speaker">
    <ion-card-header>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/woman.jpeg">
        </ion-avatar>
        {{speaker.profile.name}}        
        <button ion-button icon-only item-right>
          <ion-icon name="home"></ion-icon><pre> </pre><ion-icon color="danger" name="help-circle"></ion-icon>  
        </button>          
      </ion-item>
    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item (click)="goToSpeakerDetail(speaker)">
          <h3>Details</h3>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-item>
      <button ion-button icon-left (click)="openContact(speaker)" clear item-left>
        <ion-icon name="call"></ion-icon>
        Contact
      </button>
      <button ion-button icon-middle (click)="openDirections(speaker)" clear item-middle>
        <ion-icon name="navigate"></ion-icon>
        <pre> </pre>Last Location
      </button>
      <button ion-button icon-left (click)="openSpeakerShare(speaker)" clear item-right>
        <ion-icon name="share"></ion-icon>
        Share Last
      </button>
    </ion-item>

  </ion-card>
</ion-content>
